{% extends 'AnomaliesBundle::base.html.twig' %}

{% block roleuser_edit -%}
    <script type="text/javascript">
        $( document ).ready(function() {
               $('#myModal').on('show', function (e) {
                   if (!data) return e.preventDefault() // stops modal from being shown
               });
        });
    </script>         
 <!-- de aici -->
    <div class="col-md-12">           
            <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Nouveau</h3>

                </div><!-- /.box-header -->
            </div> 
      <div class="box-body" style="min-height:500px;">
          
         <div class="col-md-12">

            <div style="margin: 10px 0px 20px 10px;">
                        {%if app.session.flashBag.has('error') %}    
                            {% for flash_message in app.session.flashBag.get('error') %}
                                  <div class="flash-notice">
                                      <div style="color:red; font-size:16px;">{{ flash_message }}</div>
                                  </div>
                            {% endfor %}
                        {%endif%}                          
            </div>                  
                {{ form_start(form, 
                             {'action': path('roleuser_update', {'id': entity.id}), 
                              'method': 'POST', 
                              'name':'roleuser',
                              'attr': {'novalidate': 'novalidate'}}) 
                }}                       
                    <table class="table no-margin" >
                                         
                      <thead>
                        <tr>
                            <th> {{ form_label(form.username) }}</th>  
                            <th> {{ form_label(form.password) }}</th>  
                            <th> {{ form_label(form.email) }}</th>                              
                            <th> {{ form_label(form.roles) }}</th>                            
                            <th>Action</th>                  
                        </tr>
                      </thead>      
                                    
                      <tbody>                  
                        <tr>                          

                             <td>   
                                {% if form.username.vars.errors|length > 0 %}       
                                    {% for error in form.username.vars.errors %}
                                       <div style="color:red; font-size:16px;">{{ error.message }}</div>
                                    {% endfor %}        
                                {% endif %}  
                               {{ form_widget(form.username) }}
                             </td>  
                             <td>  
                                {% if form.password.vars.errors|length > 0 %}       
                                    {% for error in form.password.vars.errors %}
                                       <div style="color:red; font-size:16px;">{{ error.message }}</div>
                                    {% endfor %}        
                                {% endif %}                                   
                               {{ form_widget(form.password) }}
                             </td> 
                             <td> 
                                {% if form.email.vars.errors|length > 0 %}       
                                    {% for error in form.email.vars.errors %}
                                       <div style="color:red; font-size:16px;">{{ error.message }}</div>
                                    {% endfor %}        
                                {% endif %}                                   
                               {{ form_widget(form.email) }}
                             </td>  
                             <td>
                                 
                               {{ form_widget(form.roles) }}
                             </td>   
                       
                                                  
                             <td>                                                            
                                {{ form_widget(form.save,{'attr': {'class': 'btn btn-md btn-default btn-flat'}}) }}
                             </td> 
                             
                        </tr>  
                       
                      </tbody>
                    </table>
                {{ form_end(form) }}
                <div class="box-footer clearfix">              

                    <a href="{{ path('roleuser') }}" class="btn btn-sm btn-info btn-flat pull-left">Return</a>

                </div><!-- /.box-footer -->
            </div>
                    
                                      
            {{ form_start(uploadForm, 
                     {'action': path('roleuser_upload', {'id': entity.id}), 
                      'method': 'POST', 
                      'name':'roleuserupdate',
                      'attr': {'novalidate': 'novalidate'}}) 
            }}  
            
           {#####################}           
            {#START FORM DESCRIPTION#}
            <div class="col-md-12">                          
                <span class="col-md-2">
                    <span class="pull-left" style="width:250px;height:40px;border: 0px solid black;padding:10px;">
                        <strong id='desc' > 
                            {{ form_label(uploadForm.description) }} : 
                        </strong>    
                     </span>
                </span> 
                                              
                <span class="col-md-2">
                    <span class="pull-right">
                     {{ form_widget(uploadForm.description,{'attr': {'id':'description', 'class': 'form-control', 'style' : 'width:250px;height:40px;'}}) }}    
                    </span>
                </span> 
                    
                <span class="col-md-4 pull-left" style="height:40px;border: 0px solid black;padding:10px;">                      
                    {% if uploadForm.description.vars.errors|length > 0 %}       
                        {% for error in uploadForm.description.vars.errors %}
                           <div style="color:red; font-size:16px;">{{ error.message }}</div>
                        {% endfor %}        
                    {% endif %} 
                </span>   
                    
            </div> 
            <div class='col-md-12' style="margin:10px 0px 10px 0px;"></div>                       
            {#END FORM DESCRIPTION#} 
           {#####################}
           
           
           {#####################}            
            {#START UPLOAD#}
             <div class="col-md-12">                          
                <span class="col-md-2 " class="pull-left">
                    <span class="pull-left" style="height:40px;border: 0px solid black;padding:10px;">
                        <strong id='desc' class="pull-right"> 
                            {{ form_label(uploadForm.userfile) }} : 
                        </strong>    
                     </span>
                </span> 
                       
                <span class="col-md-2">
                    <span class="pull-right">
                     {{ form_widget(uploadForm.userfile,{'attr': {'id':'userfile', 'style' : 'width:250px;height:40px;border: 0px solid black;'}}) }}    
                    </span>
                </span> 
                <span class="col-md-4 pull-left" style="height:40px;border: 0px solid black;padding:10px;" >    
                    
                   {% if uploadForm.userfile.vars.errors|length > 0 %}       
                        {% for error in uploadForm.userfile.vars.errors %}
                           <div style="color:red; font-size:16px;">{{ error.message }}</div>
                        {% endfor %}        
                    {% endif %} 
                </span>                      
            </div> 
            <div class='col-md-12' style="margin:10px 0px 10px 0px;"></div>              

           
            <span class="col-md-2">
               <span class="pull-left">
                {{ form_widget(uploadForm.upload,{'attr': {'class':'btn btn-md btn-default btn-flat', 'style' : 'width:170px;margin:0 auto;display: block;'}}) }}
               </span>
           </span>             
            <div class='col-md-12' style="margin:10px 0px 20px 0px; border-bottom: 1px solid #E7E7E7;"></div>         
            
            {{ form_end(uploadForm) }}
            
           {#END UPLOAD#}    
           {#####################}            

        
    {#####################}            
    {#START AFISARE INREGISTRARI#}       
  {% if  documents is defined and documents|length > 0 %}        
 
        <table class="table no-margin modules" >                                        
            <thead>
              <tr>
                  <th>Id</th>                   
                  <th>Description</th>  
                  <th>File name</th>  
                  <th>Update</th>                    
                  <th>Delete</th>  
              </tr>
            </thead>      

            <tbody> 
                
            {% for doc in documents %}

                    {%set imagepath = kernelRootDir~'/../web/bundles/anomaliesdecode/images/originals/'~doc.name~'.'~doc.extension%}
                    {%set thumbimagepath = kernelRootDir~'/../web/bundles/anomaliesdecode/images/thumbs/'~doc.name~'.'~doc.extension%}
                    {%set documentpath = kernelRootDir~'/../web/bundles/anomaliesdecode/documents/'~doc.name~'.'~doc.extension%}   
                    
                    {% set assetimagepath = asset('bundles/anomaliesdecode/images/originals/')~doc.name~'.'~doc.extension %}
                    {% set assetthumbimagepath = asset('bundles/anomaliesdecode/images/thumbs/')~doc.name~'.'~doc.extension %}
                    {% set assetdocumentpath = asset('bundles/anomaliesdecode/documents/')~doc.name~'.'~doc.extension %}
                    
                    {% if  isfile(imagepath) and  isfile(thumbimagepath) %}
                        <tr>  
                            <td>  
                                {{doc.id}}
                            </td> 
                            <td>  
                                <a href="{{assetimagepath}}"
                                           target="_blank"
                                           style ="width:150px;" > 
                                    {{doc.description}}
                                </a>                           

                            </td>    
                            <td>  
                                <span class="col-md-6">
                                {{doc.name}}.{{doc.extension}}
                                </span>
                                <span class="col-md-6">
                                      <img src="{{assetthumbimagepath}}"/>
                                </span> 
                            </td>
                                                                                                                                               
                             <td>                  
                                <a href="{{ path('roleuser_updatedocument',{'did':doc.id, 'id':entity.id}) }}" 
                                    class="btn btn-md btn-warning btn-flat"
                                    style ="width:150px;"  

                                >                                                       
                                   Update
                                </a> 

                            </td>                            
                            
                            <td>                  
                                <a href="{{ path('roleuser_deletedocument',{'did':doc.id, 'id':entity.id}) }}" 
                                    class="btn btn-md btn-danger btn-flat"
                                    style ="width:150px;"                                                            
                                >                                                       
                                   Delete
                                </a> 
                            </td>   
                         </tr> 
                    {% endif %}
 
                    {% if  isfile(documentpath)%}
                        <tr> 
                            <td>  
                                {{doc.id}}
                            </td>                             
                            <td>  
                                <a href="{{assetdocumentpath}}"
                                           target="_blank"
                                           style ="width:150px;" > 
                                    {{doc.description}}
                                </a>                           

                            </td>    
                            <td>  
                                <span>
                                {{doc.name}}.{{doc.extension}}
                                </span>     
                                
                            </td>    
                            <td>                  
                                <a href="{{ path('roleuser_updatedocument',{'did':doc.id, 'id':entity.id}) }}" 
                                    class="btn btn-md btn-warning btn-flat"
                                    style ="width:150px;"                                                            
                                >                                                       
                                   Update
                                </a> 
                            </td>                             
                            <td>                  
                                <a href="{{ path('roleuser_deletedocument',{'did':doc.id, 'id':entity.id}) }}" 
                                    class="btn btn-md btn-danger btn-flat"
                                    style ="width:150px;"                                                            
                                >                                                       
                                   Delete
                                </a> 
                            </td>   
                         </tr> 
                   {% endif %}                    
            {% endfor %}
        </tbody>
     </table>    
    {% endif %}  
    {#####################}            
    {#END AFISARE INREGISTRARI#}      
    

    
        <div class="box-footer clearfix">
        </div>     
       </div>
    </div>                
{% endblock %}




