{% extends 'AnomaliesBundle::base.html.twig' %}

{% block controles_list -%}

   <div class="col-md-12 ">           
            <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">List controles</h3>
             
                </div><!-- /.box-header -->
                <div class="box-body" style="min-height:500px;background-color: #fcf9ed;">
                    
                    <div style="margin: 10px 0px 20px 50px;">                    
                        {%if app.session.flashBag.has('notice') %}    
                            {% for flash_message in app.session.flashBag.get('notice') %}
                                  <div class="flash-notice">
                                      <div style="color:red; font-size:16px;">{{ flash_message }}</div>
                                  </div>
                            {% endfor %}
                        {%endif%}     
                    </div> 
                    
                    
                <div style="margin-bottom: 20px;">
                    <a href="{{path('controles_new')}}" >  
                        <span class="glyphicon glyphicon-plus"> </span>
                        <span style="margin-left: 5px; font-size: 15px;">
                            Nouvel enregistrement
                        </span>
                    </a>  
                </div>    
                    
                       {% if entities|length > 0 %}           
                            <div class="table-responsive col-md-12" >
                                <table class="table no-margin display modules" id="ml">
                                  <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Controle</th>
                                        <th>Echantillons</th>
                                        <th>Periodestravaux</th>  
                                        
                                        <th class="nosort">Typesocietes</th>
                                        <th class="nosort">Typetaches</th>
                                        <th class="nosort">Typecontroles</th>
                                        <th class="nosort">Editer</th>                                        
                                        <th class="nosort">Supprimer</th>

                                    </tr>
                                  </thead>
                                  <tbody>                                     
                                    {% for entity in entities %}                          
                                        <tr> 
                                            <td>{{ entity.id }}</td> 
                                            <td>{{ entity.controle }}</td>
                                            <td>{{ entity.echantillon }}</td>                                         
                                            <td>{{ entity.periodetravaux }}</td>
                                            <td>
                                              
                                                  {% for ts in entity.fktypesocietes %}
                                                   <div style="background-color:#DFF3FF;margin-bottom: 3px;padding:3px;">
                                                     {{ ts.typesociete }}
                                                    </div>                      
                                                  {% endfor %}
                                            </td>
                                           <td>
                                                {% for tt in entity.fktypetaches %}
                                                   <div style="background-color:#DFF3FF;margin-bottom: 3px;padding:3px;">
                                                     {{ tt.typetache }}
                                                    </div>                      
                                                {% endfor %}
                                           </td>
                                           <td>

                                                {% for tc in entity.fktypecontroles %}
                                                   <div style="background-color:#DFF3FF;margin-bottom: 3px;padding:3px;">
                                                     {{ tc.typecontrole }}
                                                    </div>                      
                                                {% endfor %}                                                
                                           </td>
                                           
                                            <td >                                            
                                                  <a href="{{ path('controles_edit', { 'id': entity.id }) }}" 
                                                    class="btn btn-block btn-warning btn-sm"
                                                    style ="width:100px;margin:0 auto;"                                                            
                                                   >  
                                                     Editer
                                                  </a>                                              
                                            </td>  
                                            
                                            <td >                                            
                                                   <a href="{{ path('controles_delete', { 'id': entity.id }) }}"
                                                           
                                                        class="btn btn-block btn-danger btn-sm suprimerlink" 
                                                        style ="width:100px;margin:0 auto;"                                                           
                                                  >  
                                                      Supprimer
                                                  </a>                                                
                                            </td>    
  
                                        </tr> 
                                        {% endfor %}    
                                  </tbody>
                                </table>

                              </div><!-- /.table-responsive -->   
                   {% endif %}
                </div><!-- /.box-body -->                      
       </div><!-- /.box -->     
    </div>                         
                       
{% endblock %}
