{% extends 'AnomaliesBundle::base.html.twig' %}


{% block risklevel_new %}

            
 <!-- de aici -->
    <div class="col-md-12">           
            <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Nouveau</h3>

                </div><!-- /.box-header -->
            </div> 
      <div class="box-body" style="min-height:500px;">
          
         <div class="col-md-12">

            <div style="margin: 10px 0px 20px 50px;">
                        {%if app.session.flashBag.has('error') %}    
                            {% for flash_message in app.session.flashBag.get('error') %}
                                  <div class="flash-notice">
                                      <div style="color:red; font-size:16px;">{{ flash_message }}</div>
                                  </div>
                            {% endfor %}
                        {%endif%}    
            </div>   
        
        
                {{ form_start(form, 
                             {'action': path('risklevel_create', {'id': entity.id}), 
                              'method': 'POST', 
                              'name':'risklevel',
                              'attr': {'novalidate': 'novalidate'}}) 
                 }}                       
                    <table class="table no-margin" >
                                         
                      <thead>
                        <tr>
                            <th> {{ form_label(form.risklevel) }}</th>  
                            <th>Action</th>                  
                        </tr>
                      </thead>      
                                    
                      <tbody>                  
                        <tr>                          

                             <td>          
                                {% if form.risklevel.vars.errors|length > 0 %}       
                                       {% for error in form.risklevel.vars.errors %}
                                          {{ error.message }}
                                       {% endfor %}        
                               {% endif %}
                                 
                               {{ form_widget(form.risklevel) }}
                             </td>                             
                             <td>                               
{#                                <?php echo $view['form']->widget($form['updatedetails'], 
                                                                  array(
                                                                    'attr' => array('class' => 'btn btn-md btn-default btn-flat',
                                                                                   ),
                                                                )) 
                                ?>#}
                                
                                {{ form_widget(form.save,{'attr': {'class': 'btn btn-md btn-default btn-flat'}}) }}
                             </td> 
                            {{ form_end(form) }}
                        </tr>                                                   
                      </tbody>
                    </table>
                             
                <div class="box-footer clearfix">              

                    <a href="{{ path('risklevel') }}" class="btn btn-sm btn-info btn-flat pull-left">Return</a>
                               
                </div><!-- /.box-footer -->
                </div>
                               
                <div class="box-footer clearfix">
               

                </div>           
       </div>
    </div>             
            
{% endblock %}


