   
{% include 'AnomaliesBundle::header.html.twig' %}

<body class="hold-transition skin-blue sidebar-mini " >
    <div class="wrapper">
  
      <header class="main-header">
        <!-- Logo -->
        <a href="{{path('risklevel')}}" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini">
              <img src="{{ asset('bundles/anomaliesdecode/images/qassurance.png')}}" width="40" height="40">
          </span>   
          <span class="logo-lg" >
             <span>
                <img src="{{ asset('bundles/anomaliesdecode/images/qassurance.png')}}" width="40" height="40">
            </span>
              Menu
          </span>
        </a>
        
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
            
          <div class="navbar-custom-menu pull-left qc">
              Qualité Comptabilité     
          </div>
            
          <div class="navbar-custom-menu pull-right">
            <ul class="nav navbar-nav ">
              
                <li class="dropdown user user-menu">              
                    <a href="{{ path("logout") }}">
                      <span>Logout</span>          
                    </a>
                </li> 
            </ul>
          </div>  
        </nav>
      </header>
        
      <!-- Left side column. contains the logo and sidebar -->
      <div class="main-sidebar"  style="background-color: #fae1a9">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
       
          <ul class="sidebar-menu">
<!--            <li class="header" style="background-color: #fae1a9">NAVIGATION</li>-->
            

            
                <li>
                  <a href="{{path('risklevel')}}">
                    <i class="fa fa-book"></i>   
                    <span>Risk level</span>          
                  </a>
                </li>

                 <li>
                  <a href="{{path('typecontrole')}}">
                    <i class="fa fa-book"></i>   
                    <span>Control type</span>          
                  </a>
                </li>     
                
                <li>
                  <a href="{{path('typesociete')}}">
                    <i class="fa fa-book"></i>   
                    <span>Society type</span>          
                  </a>
                </li>     
                
                <li>
                  <a href="{{path('typetaches')}}">
                    <i class="fa fa-book"></i>   
                    <span>Task type</span>          
                  </a>
                </li> 
                
                <li>
                  <a href="{{path('controles')}}">
                    <i class="fa fa-book"></i>   
                    <span>Controles</span>          
                  </a>
                </li> 
          </ul>
        </section>
        <!-- /.sidebar -->
      </div>
      

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper" style="background-color: #fff">
                
        <!-- Main content -->
        <section class="content">       
          <!-- Main row -->
          <div class="row">
              
            <!-- Left col -->
            <section class="col-lg-12">
 
                {% block risklevel_list %}{% endblock %}    
                {% block risklevel_edit %}{% endblock %}  
                {% block risklevel_new %}{% endblock %}   
                
                {% block typecontrole_list %}{% endblock %}    
                {% block typecontrole_edit %}{% endblock %}  
                {% block typecontrole_new %}{% endblock %}  
                
                {% block typesociete_list %}{% endblock %}    
                {% block typesociete_edit %}{% endblock %}  
                {% block typesociete_new %}{% endblock %}  
                
                {% block typetaches_list %}{% endblock %}    
                {% block typetaches_edit %}{% endblock %}  
                {% block typetaches_new %}{% endblock %}  
                
                {% block controles_list %}{% endblock %}    
                {% block controles_edit %}{% endblock %}  
                {% block controles_new %}{% endblock %} 
                
                {% block roleuser_list %}{% endblock %}                
                {% block roleuser_new %}{% endblock %}                 

            </section><!-- /.Left col -->

          </div><!-- /.row (main row) -->

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      
      
<!--    <footer class="main-footer" >
        <div class="pull-right hidden-xs">
          <b>Version</b> 1.0.b
        </div>
        <strong>Copyright &copy; 2016 <a href="#">NOZ</a>.</strong> All rights reserved.
     </footer> -->

{% include 'AnomaliesBundle::footer.html.twig' %}



