{% extends 'AnomaliesBundle::base.html.twig' %}


{% block typesociete_list -%}
    <h1>Typesociete list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Typesociete</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('typesociete_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.typesociete }}</td>
                <td>{{ entity.enabled }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('typesociete_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('typesociete_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('typesociete_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
